#mainPopup {
	padding: 10px;
	height: 500px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
#filters {
	width: 389px;
}
h1 {
	font-size: 1.5em;
	margin-top: 0;
}

.switchable-wrapper,.pull-right {
    float: right;
}

.header {
	float: left;
	padding: 0 10px 10px 0;
	width: 100%;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 11px;
    margin-right: 8px;
}

.note {
	color: #9e9c9c;
	font-style: italic;
	margin-bottom: 10px;
}
#expression {
	width: 300px;
	margin-right: 20px;
}
div.console { 
	word-wrap: break-word; 
	clear: both;
}      
div.console { 
	font-size: 12px; 
	margin-top:1em;
}
div.console div.jquery-console-inner
{ 
	width:98%; 
	height:400px; 
	background:#efefef; 
	padding: 0;
 	overflow:auto;
 	margin-bottom: 10px;
 	border: 1px #eee solid;
}
div.console div.jquery-console-prompt-box
{ 
	color:#444; 
	font-family:monospace; 
}
div.console div.jquery-console-focus span.jquery-console-cursor
{ 
	background:#333; 
	color:#eee;
}
div.console div.jquery-console-message 
{
	background: #fff;
	border-bottom: 1px #dedede solid;
}

div.console div.jquery-console-welcome 
{
    padding: 5px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    background: black;
    font-weight: bold;
}

div.console div.jquery-console-message-value 
{
	padding: 5px;
	color: #00631f;
}

div.console div.jquery-console-message-log 
{
	padding: 5px;
	color: #171717;
	font-size: 12px;
}
div.console div.jquery-console-message-log:before {
	content: " ";
	margin: 0 10px 0 2px;
}
div.console div.jquery-console-message-value:before
{
	content: "\f104";
	color: grey;
	font-family: FontAwesome;
	margin: 0 7px 0 2px;
}
div.console div.jquery-console-message-info 
{
	padding: 5px;
	color: #171717;

}
div.console div.jquery-console-message-info:before
{
	content: "\f05a";
	color: #4a48c1;
	font-family: FontAwesome;
	margin: 0 7px 0 2px;
}
div.console div.jquery-console-message-warn 
{
	padding: 5px;
	color: #424242;
	background: #fdfdd7;
}
div.console div.jquery-console-message-table 
{
	padding: 5px;
	color: #9e9c9c;
}

div.console div.jquery-console-message-error
{ 
	color:#ef0505; 
	background: #ffe7e7;
	font-family:sans-serif; 
	font-weight:bold;
	padding: 5px;
}
div.console div.jquery-console-message-error:before {
	content: "\f057";
	color: red;
	margin: 0 7px 0 2px;
	font-family: FontAwesome;

	/* more styling for the icon, including color, font-size, positioning, etc. */
}

div.console div.jquery-console-message-warn:before {
	content: "\f071";
	color: #ff8600;
    margin: 0 7px 0 2px;
	font-family: FontAwesome;

	/* more styling for the icon, including color, font-size, positioning, etc. */
}
div.console div.jquery-console-message-success
{ 
	color:#187718; 
	font-family:monospace;
	padding: 5px;
}
div.console span.jquery-console-prompt-label 
{ 
	font-weight:bold;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
