body, section {			/* Change width and height to own preferences */
	width: 500px;
	height: 560px;
	overflow-x: hidden;
}
body {
	background-color: #f3f3f4;
}

/* Basic style tweaks */
section { 
	padding: 5px;
}

h1 {
	font-size: 1.2em;
	margin-top: 0;
}
label {
	padding-right: 3px;
}

hr {
	margin: 10px 0;
}


.container-fluid {
	overflow: hidden;
	padding: 0 10px;
	margin-top: 7px;
}

.panel .container-fluid {
	padding:4px 6px;
}

.row {
	margin-left: -10px;
    margin-right: -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding-left: 10px;
    padding-right: 10px;
}
.panel {
	margin-bottom: 0px;
	border: 0;
	margin: 1px 0;
}

.panel-default>.panel-heading {
	background-color: #f3f3f4;
	border: 0;
}

.panel-group .panel {
	padding: 4px;
}

.panel-heading {
	padding: 10px 0px;
	margin-bottom: 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.section {
	padding: 10px 0;
}
.navbar { margin-bottom: 2px; }


.switch, .switch-right {
    display: inline-block;
	height: 27px;
    vertical-align: middle;
}
.switch-right .switch {
    margin-left: 20px;
}

.switch-label {
    /* color: #943f3f !important; */
    color: black;
    font-size: 12px;
    width: 55%;
    display: inline-block;
}

.filter-text {
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
	float: left;
	width: 100%;
}
.footer {
	float: left;
	padding: 0 10px 10px 0;
	margin: 10 0px;
	width: 100%;
	position: fixed;
    bottom: 0;
    right: 0;
}

.well-sm {
	padding: 9px 0;
}


.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 11px;
    margin-right: 8px;
}

.note {
	color: #9e9c9c;
	font-style: italic;
	margin-bottom: 2px;
}

#expression {
	width: 300px;
	margin-right: 20px;
}

small.new {
	color: blue;
}

.ad img {
	max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}


div.console, div.console div.jquery-console-inner {
	min-height: 400px;
	max-height: 472px;
}

div.console { 
	word-wrap: break-word; 
	clear: both;
	font-size: 12px;
	height: auto;
}

div.console div.jquery-console-inner
{
	height:100%; 
	background:#fff; 
	padding: 0;
 	overflow:auto;
 	margin-bottom: 10px;
 	border: 1px #eee solid;
}
div.console div.jquery-console-prompt-box
{ 
	float: left;
	clear: both;
	color:#444; 
	font-family:Menlo, monospace; 
}

div.console div.jquery-console-prompt-box:last-of-type {
	clear: both;
}

div.console div.jquery-console-prompt-box + div.jquery-console-message {
	float: left;
}

div.console div.json {
	display: inline-block;
}

div.console span.jquery-console-prompt-label 
{ 
	font-weight:bold;
	color: #4785ff;
    padding-left: 5px;
}

div.console div.jquery-console-focus span.jquery-console-cursor
{ 
	background:#333; 
	color:#eee;
}
div.console div.jquery-console-message 
{
	background: #fff;
	/*border-bottom: 1px #dedede solid;*/
	font-family: Menlo, monospace;
}

div.console div.jquery-console-welcome 
{
	clear: both;
	width: 100%;
    padding: 5px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    background: black;
    font-weight: bold;
}

div.console div.jquery-console-message-value 
{	
	clear: both;
	width: 100%;
	padding: 5px;
	color: rgb(28, 0, 207);
}

div.console div.jquery-console-message-log 
{
	clear: both;
	width: 100%;
	padding: 5px;
	color: #171717;
	font-size: 12px;
}
div.console div.jquery-console-message-log:before {
	content: " ";
	margin: 0 10px 0 2px;
}
div.console div.jquery-console-message-value:before
{
	content: "\f104";
	color: #b3b3b3;
	font-family: FontAwesome;
	margin: 0 7px 0 2px;
}
div.console div.jquery-console-message-info 
{
	clear: both;
	padding: 5px;
	color: #171717;

}
div.console div.jquery-console-message-info:before
{
	content: "\f05a";
	color: #4a48c1;
	font-family: FontAwesome;
	margin: 0 7px 0 2px;
}

div.console div.jquery-console-message-alert 
{
	clear: both;
	width: 100%;
	padding: 5px;
	color: #171717;

}
div.console div.jquery-console-message-alert:before
{
	content: "\f05a";
	color: #171717;
	font-family: FontAwesome;
	margin: 0 7px 0 2px;
}
div.console div.jquery-console-message-warn 
{
	clear: both;
	width: 100%;
	padding: 5px;
	color: #171717;
	background: #fdfdd7;
}
div.console div.jquery-console-message-table 
{
	clear: both;
	width: 100%;
	padding: 5px;
	color: #9e9c9c;
}

div.console div.jquery-console-message-error,div.console div.jquery-console-message-unknown
{ 
	clear: both;
	width: 100%;
	color: red; 
	background: #fff0f0;
	font-weight:bold;
	padding: 5px;
}

div.console div.jquery-console-message-system {
	color: #b3b3b3;
}

div.console div.jquery-console-message-error:before,div.console div.jquery-console-message-unknown:before {
	content: "\f057";
	color: #ef0505;
	margin: 0 7px 0 2px;
	font-family: FontAwesome;

	/* more styling for the icon, including color, font-size, positioning, etc. */
}

div.console div.jquery-console-message-warn:before {
	content: "\f071";
	color: #ffbf24;
    margin: 0 7px 0 2px;
	font-family: FontAwesome;

	/* more styling for the icon, including color, font-size, positioning, etc. */
}
div.console div.jquery-console-message-success
{ 
	color:#187718; 
	font-family:Menlo, monospace;
	padding: 5px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


pre {
    display: inline;
    background: #f4f4f4;
    border: 1px solid #9e9c9c;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0px 2px;
    word-wrap: break-word;
}