#mainPopup {
	padding: 10px;
	height: 500px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
	font-size: 1.5em;
	margin-top: 0;
}

.switchable-wrapper {
    float: right;
}

.header {
	float: left;
	padding: 0 10px 10px 0;
}

.note {
	color: #9e9c9c;
	font-style: italic;
}
#expression {
	width: 300px;
	margin-right: 20px;
}
div.console { 
	word-wrap: break-word; 
	clear: both;
}      
div.console { 
	font-size: 14px; 
	margin-top:1em
}
div.console div.jquery-console-inner
{ 
	width:98%; 
	height:400px; 
	background:#efefef; 
	padding: 0;
 	overflow:auto;
 	margin-bottom: 20px;
 	border: 1px #eee solid;
}
div.console div.jquery-console-prompt-box
{ 
	color:#444; 
	font-family:monospace; 
}
div.console div.jquery-console-focus span.jquery-console-cursor
{ 
	background:#333; 
	color:#eee; 
	font-weight:bold 
}
div.console div.jquery-console-message 
{
	background: #fff;
	border-bottom: 1px #dedede solid;
}

div.console div.jquery-console-welcome 
{
    padding: 5px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    background: black;
    font-weight: bold;
}

div.console div.jquery-console-message-value 
{
	padding: 7px;
	color: #00631f;
}

div.console div.jquery-console-message-log 
{
	padding: 7px;
	color: #9e9c9c;
	font-size: 12px;
}
div.console div.jquery-console-message-info 
{
	padding: 7px;
	color: #4a48c1;

}
div.console div.jquery-console-message-warn 
{
	padding: 7px;
	color: #ff0000;
	font-weight: bold;
	background: #fdfdd7;
}
div.console div.jquery-console-message-table 
{
	padding: 7px;
	color: #9e9c9c;
}

div.console div.jquery-console-message-error
{ 
	color:#ef0505; 
	font-family:sans-serif; 
	font-weight:bold;
	padding:7px;
}
div.console div.jquery-console-message-success
{ 
	color:#187718; 
	font-family:monospace;
	padding:7px;
}
div.console span.jquery-console-prompt-label 
{ 
	font-weight:bold;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
